.container {
  width: 700px;
  margin: 0 auto;
  background-color: #0C99C1;
  color: rgb(0, 0, 0);
  font-family: "MS Sans Serif", "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.headers {
  font-family: "W95", sans-serif;
  font-weight: 300;
  line-height: 0.5;
}

h1 {
  color: #F30CD4;
  font-size: 36px;
}

h2 {
  color: #22B9CA;
  font-size: 24px;
  font-weight: bold;
}

@font-face {
  src: url(images/sysfont.woff);
  font-family: "W95";
  font-style: normal;
  font-weight: 300;
}

.card {
  background-color: #FFF78F;
  margin: 30px 0;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

.img-circle {
  position: relative;
  top: 25px;
  left: -180px;
  margin: auto;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5);
}

.text {
  position: relative;
  text-align: right;
  padding: 15px;
  top: -20px;
}

.type {
  font-family: 'Poppins', sans-serif;
  font-size:18px;
  background:linear-gradient(#000000 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  background-repeat:no-repeat;
  animation: t calc(var(--n)*.1s) linear;
}
@keyframes t {
  from {background-size:0 200%}
}
.clip {
  color:#00000000;
  -webkit-background-clip:text;
  background-clip:text;
}

.btn-rose {
  position: relative;
  top: 15px;
  background-color: #F30CD4;
  box-shadow: 10px 10px 10px rgba(0, 0, 0,0.5);
  color:#FFF78F;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 12px;
  text-decoration: none;
  font-size: 16px;
}

.inline-list {
  list-style: none;
  padding-left: 0;
}

.inline-list li {
display: inline-block;
padding: 0 10px;
}

.inline-list i {
  font-size: 60px;
  color: #F30CD4;
  cursor: pointer;
  }

  .btn-rose:hover {
    background-color: #000000;
    color: #F30CD4;

  }

  .fa-brands:hover {
    color: rgb(0, 0, 0);
  }

  @media (max-width: 960px) {
    /* For a screen < 960px, this CSS will be read */
    .container {
      width: 700px;
    }
  }

  @media (max-width: 720px) {
    /* For a screen < 720px, this CSS will be read */
    .container {
      width: 500px;
    }
  }

  @media (max-width: 540px) {
    /* For a screen < 540px, this CSS will be read */
    .container {
      width: 300px;
    }
  }
